<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input  [(ngModel)]="bano.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Latitud</ion-label>
    <ion-input  [(ngModel)]="coordenada.latitud" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Longitud</ion-label>
    <ion-input  [(ngModel)]="coordenada.longitud" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Costo</ion-label>
    <ion-input [(ngModel)]="bano.costo" type="number"></ion-input>
  </ion-item>
  <ion-button (click)="insertarBano()">Agregar Baño</ion-button>
</ion-content>

